<!doctype html>
<html lang="fr">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Lien vers la police Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap" rel="stylesheet">    

    <!-- Lien vers FontAwesome-->
    <script src="https://kit.fontawesome.com/f15107843b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../scss_to_css/main.css">
    <title>Orinoco - Accueil</title>
    </head>
    <body>
        <header>
            
            <div class="overlay">
                
            </div>
            <nav>
                <h2>Orinocam-Accueil</h2>
                <ul>
                    <li><a href="../../../index.html">Accueil</a></li>
                    <li><a href="#">A Propos</a></li>
                    <li class="cart">
                        <a href="../panier/panier.html">
                            <i class="fas fa-shopping-basket"></i>Panier<span id="spanCart">0</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <div class="presentation">
                <h1>Chez Orinoco, nous avons ce qu'il vous faut !</h1>
            </div>
            <section class="articles__section">
                <div class="container__articles">
                   
                       <div class="card">
                        <div href="#" id="productLink" class="cardLink">
                           <img src="" alt="image du produit" class="card__img" id="imgCard">
                           <h3 class="card__name" id="name"></h3>
                           <p class="card__description" id="description"></p>
                           <p class="card__price" id="price"></p>
                           <div class="card__options" id="contOptions">
                            <label for="options" id="options__label">Personnalisez avec nos lentilles :</label>
                                <select name="lentilles" id="options"> </select>                                                                        
                           </div>
                           <a href="#" class="add-cart">Ajouter au panier</a>
                        </div>
                       </div> 
                    
                </div>


            </section>

<!---------------------------------- Javascript ------------------------------->
            <script src="./produit.js"></script>
    </body>
</html>