.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-dialog When fading in the modal, animate it to slide down
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: subtract(100%, 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: subtract(100%, 1rem);
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #5ee2af;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #5ee2af;
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-dialog-scrollable {
  height: subtract(100%, 3.5rem);
}

.modal-dialog-centered {
  min-height: subtract(100%, 3.5rem);
}

.modal-sm {
  max-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*
.img_logo {
    width: 25%;
    position: absolute;
    top: 42px;
    left: 10px;
} */
header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18rem;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.title {
  color: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #d07f46), color-stop(40%, #b36f98), color-stop(80%, #8f5bfe), to(#8f5bfe));
  background: linear-gradient(left top, #d07f46 10%, #b36f98 40%, #8f5bfe 80%, #8f5bfe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 90%;
  padding: .2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

nav li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .2rem;
  border-style: ridge;
  border-width: 0.2rem;
  border-color: #d4af37;
  border-radius: 1.2rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: .5rem;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.cart i {
  font-size: 1.2rem;
  padding-right: 5px;
}

.cart a {
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.spanCart {
  width: 33%;
  background-color: #f2f2f2;
  padding: .2rem 0.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: #fd0202;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav li {
    margin-left: 1rem;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title h1 {
    margin-right: 2rem;
  }
}

footer {
  background-color: rgba(10, 10, 10, 0.3);
  padding: 1rem;
}

.footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .5rem;
  font-size: .8rem;
}

.footer-site-info {
  width: 50%;
  text-align: center;
  color: #f8cf67;
}

.footer-site-info a {
  color: #f8cf67;
}

#footer-socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-item {
  font-size: 1.5rem;
  color: #8f5bfe;
  padding: 0 .5rem;
}

.group-firm img {
  width: 20%;
  margin: 0 .2rem;
  border-radius: .3rem;
}

.group-firm {
  width: 100%;
  padding: 1rem .2rem;
  color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group-firm i {
  font-size: 1.8rem;
}

.container__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem auto 0;
  padding-bottom: 6rem;
}

a {
  text-decoration: none;
}

.presentation {
  color: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #d07f46), color-stop(40%, #b36f98), color-stop(80%, #8f5bfe), to(#8f5bfe));
  background: linear-gradient(left top, #d07f46 10%, #b36f98 40%, #8f5bfe 80%, #8f5bfe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  padding: .4rem;
  margin: .8rem;
  border-style: groove;
  border-width: .6rem;
  border-color: #d4af37;
  border-radius: 3rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
  background-color: #f3e9f1;
}

.card {
  width: 80vw;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-style: ridge;
  border-width: 15px;
  border-color: #8d8787;
  border-radius: 2rem  0 2rem 0;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.card__img {
  width: 100%;
  border-radius: 1rem 0 0 0;
}

.card__name {
  text-align: center;
  padding: 10px;
  color: #d4af37;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #666;
}

.card__description {
  text-align: center;
  padding: 10px;
  color: #000;
}

.card__price {
  text-align: right;
  padding: 10px;
  color: #686767;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px #cacaca;
}

.cardlink {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  border-style: ridge;
  border-width: 15px;
  border-color: #8d8787;
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 10px #999;
          box-shadow: 5px 5px 10px #999;
  font-size: 2rem;
  font-weight: bold;
}

.cardlink:hover {
  background-color: #28903a;
  color: #fff;
  border-color: #f53131;
}

.showArticle {
  bottom: 5.7rem;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .container__home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card {
    width: 40vw;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-style: ridge;
    border-width: 1rem;
    border-color: #8d8787;
    border-radius: 2rem 0 2rem 0;
    -webkit-box-shadow: 5px 5px 10px #999;
            box-shadow: 5px 5px 10px #999;
  }
  .card__img {
    width: 100%;
    border-radius: 1rem 0 0 0;
  }
  .card__name {
    text-align: center;
    padding: 1.2rem;
    font-size: 2rem;
  }
  .card__description {
    text-align: center;
    padding: 1.2rem;
    color: #000;
    font-size: 1rem;
  }
  .card__price {
    text-align: right;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .showArticle {
    bottom: 7rem;
  }
}

.container__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
}

.cardProduct {
  width: 80%;
  margin: 1.2rem;
  position: relative;
  overflow: hidden;
  border-style: ridge;
  border-width: 1rem;
  border-color: #8d8787;
  border-radius: 2rem  0 2rem 0;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.cardProduct__img {
  width: 100%;
  border-radius: 1rem 0 0 0;
}

.cardProduct__name {
  text-align: center;
  padding: 10px;
  color: #d4af37;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #666;
}

.cardProduct__description {
  text-align: center;
  padding: 10px;
  color: #000;
}

.cardProduct__price {
  text-align: right;
  padding: 10px;
  color: #686767;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px #cacaca;
}

.quantity__group {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .2rem 1rem;
  margin-bottom: 1rem;
}

.quantity__group-text {
  font-weight: bold;
  color: #51cceb;
  padding: 0 1rem;
  margin: 0;
}

#quantity {
  width: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #51cceb;
  font-weight: bold;
  border-style: groove;
  border-width: .3rem;
  border-color: #51cceb;
  border-radius: .5rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.add-cart {
  position: absolute;
  width: 100%;
  height: 130px;
  background-color: #cacaca;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  border-style: ridge;
  border-width: 5px;
  border-color: #8d8787;
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 10px #999;
          box-shadow: 5px 5px 10px #999;
  font-size: 2rem;
  font-weight: bold;
}

.add-cart:hover {
  background-color: #28903a;
  color: #fff;
  border-color: #f53131;
}

.add-cart:hover#add-cart {
  color: #fff;
}

#add-cart {
  font-size: 2rem;
  font-weight: bold;
  color: #382890;
}

#add-cart:hover {
  color: #fff;
  border-color: #f53131;
  border-style: ridge;
  border-width: .3rem;
  border-radius: 1rem;
}

.showcart {
  bottom: 18.2rem;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#options {
  text-align: center;
  padding: .3rem 1rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color: #28903a;
  font-weight: bold;
  border-style: ridge;
  border-width: 5px;
  border-color: #28903a;
  border-radius: .5rem;
  -webkit-box-shadow: 5px 5px 10px #999;
          box-shadow: 5px 5px 10px #999;
}

#options__label {
  font-size: 1rem;
  padding: .8rem;
  color: #28903a;
}

/* **************** MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .card__description {
    font-size: 1.5rem;
  }
  #options {
    text-align: center;
    padding: 1.2rem 2.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    color: blue;
    font-weight: bold;
  }
  #options__label {
    font-size: 1.5rem;
    padding: 1.2rem;
  }
  .quantity__group {
    font-size: 1.5rem;
  }
  .showcart {
    bottom: 22rem;
  }
}

.section__cart {
  margin: 0 0 3rem 0;
}

.section__cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__container {
  margin: 0.2rem;
  color: #000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .3rem;
  margin: 0;
}

.productList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f2f2f2;
  margin: .2rem 0;
  padding: .2rem .2rem;
  font-weight: bold;
}

td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.emptyCart {
  padding: 1rem;
  height: 8.5rem;
}

#container__empty {
  width: 80%;
  height: 100%;
}

.container__empty-text {
  font-size: 1.5rem;
}

.cart-empty {
  background-color: #f3e9f1;
  height: 100%;
  color: #ff0000;
  text-align: center;
  border-style: ridge;
  border-width: 10px;
  border-color: #d4af37;
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 10px #999;
          box-shadow: 5px 5px 10px #999;
  font-weight: bold;
}

.cart-empty:hover {
  background-color: #28903a;
  color: #fff;
  border-color: #f53131;
}

.btn__home {
  background-color: #f8cf67;
  border-style: ridge;
  border-width: 5px;
  border-color: #d4af37;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 10px #999;
          box-shadow: 5px 5px 10px #999;
  font-weight: bold;
  font-size: 1.5rem;
  padding: .2rem 1rem;
  color: #8f5bfe;
}

.productsCart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.productsCart__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productsCart__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
  border-bottom: 1px solid lightgrey;
}

.productsCart tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000;
  padding: .6rem .3rem;
  border-bottom: 1px solid lightgrey;
}

.productCart i {
  color: #0065fc;
  cursor: pointer;
}

.product-img {
  width: 45%;
  padding: 0 .6rem;
  text-align: center;
}

.imgCart {
  width: 15%;
}

.imgCart td {
  height: 100%;
}

.imgCart img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.imgCart img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.trash {
  color: #0065fc;
}

.nameCart {
  width: 15%;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d4af37;
}

.product-price {
  width: 10%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: .2rem;
}

.priceCart {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #686767;
}

.qty-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #51cceb;
}

.minus {
  margin-right: .2rem;
  margin-left: .2rem;
}

.plus {
  margin-right: .2rem;
  margin-left: .2rem;
}

.product-qty {
  width: 20%;
  text-align: center;
}

.product-option {
  width: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 .5rem 0 0;
  margin: 0 0 0 .5rem;
}

.optionCart {
  font-size: 0.7rem;
  color: #28903a;
}

.product-amount {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amountCart {
  font-size: 0.7rem;
}

.container__total {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.container__total p {
  font-weight: bold;
  color: #0065fc;
  padding: 0;
  margin: 0;
}

#total-amount {
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin: 0 10px;
}

.container__delete-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.delete-cart {
  width: 50%;
  color: #8f5bfe;
  font-size: 1.2rem;
  font-weight: bold;
  border-style: ridge;
  border-width: 0.4rem;
  border-color: #d4af37;
  border-radius: 1.5rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
  padding: .5rem 0 .5rem 0;
  margin: 1rem;
}

.delete-cart:hover {
  background-color: #ff000d;
  color: #fff;
}

.validate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.validate-cart {
  width: 50%;
  color: #8f5bfe;
  font-size: 1.2rem;
  font-weight: bold;
  border-style: ridge;
  border-width: 0.4rem;
  border-color: #d4af37;
  border-radius: 1.5rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
  padding: .5rem 0 .5rem 0;
  margin: 1rem;
}

.validate-cart:hover {
  background-color: #468820;
  color: #fff;
}

.tohide {
  display: none;
}

.orderForm {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.information {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#orderFormValidity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.firstName {
  width: 80%;
  margin-top: 2rem;
}

.firstName__form {
  width: 100%;
  font-size: 1rem;
  margin-top: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-style: ridge;
  border-width: .2rem;
  border-color: #d4af37;
  border-radius: .3rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.firstName__form-input {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  border: none;
  margin-top: .1rem;
}

.firstName__form-i {
  padding: 0.4rem;
  color: #0065fc;
  font-weight: bold;
  border: none;
  background-color: #e9ecef;
}

.lastName {
  width: 80%;
  margin-top: 2rem;
}

.lastName__form {
  width: 100%;
  font-size: 1rem;
  margin-top: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-style: ridge;
  border-width: .2rem;
  border-color: #d4af37;
  border-radius: .3rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.lastName__form-input {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  border: none;
  margin-top: .1rem;
}

.lastName__form-i {
  padding: 0.4rem;
  color: #8f5bfe;
  font-weight: bold;
  border: none;
  background-color: #e9ecef;
}

.email {
  width: 80%;
  margin-top: 2rem;
}

.email__form {
  width: 100%;
  font-size: 1rem;
  margin-top: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-style: ridge;
  border-width: .2rem;
  border-color: #d4af37;
  border-radius: .3rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.email__form-input {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  border: none;
  margin-top: .1rem;
}

.email__form-i {
  padding: 0.4rem;
  color: #0065fc;
  font-weight: bold;
  border: none;
  background-color: #e9ecef;
}

.address {
  width: 80%;
  margin-top: 2rem;
}

.address__form {
  width: 100%;
  font-size: 1rem;
  margin-top: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-style: ridge;
  border-width: .2rem;
  border-color: #d4af37;
  border-radius: .3rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.address__form-input {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  border: none;
  margin-top: .1rem;
}

.address__form-i {
  padding: 0.4rem;
  color: #8f5bfe;
  font-weight: bold;
  border: none;
  background-color: #e9ecef;
}

.city {
  width: 80%;
  margin-top: 2rem;
}

.city__form {
  width: 100%;
  font-size: 1rem;
  margin-top: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-style: ridge;
  border-width: .2rem;
  border-color: #d4af37;
  border-radius: .3rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
}

.city__form-input {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  border: none;
  margin-top: .1rem;
}

.city__form-i {
  padding: 0.4rem;
  color: #0065fc;
  font-weight: bold;
  border: none;
  background-color: #e9ecef;
}

label {
  font-weight: bold;
}

.order__btn {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.order__btn-submit {
  width: 60%;
  color: #0065fc;
  font-size: 1.2rem;
  font-weight: bold;
  border-style: ridge;
  border-width: 0.4rem;
  border-color: #d4af37;
  border-radius: 1.5rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
  padding: .5rem 0 .5rem 0;
  margin: 1rem;
}

.order__btn-submit:hover {
  background-color: #468820;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .imgCart {
    width: 30%;
  }
  th.product-img {
    width: 70%;
  }
  .trash {
    color: #0065fc;
    width: 3%;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nameCart {
    font-size: 1rem;
  }
  .priceCart {
    font-size: 1rem;
  }
  .optionCart {
    font-size: 1rem;
  }
  .qty-group {
    font-size: 1rem;
  }
  .amountCart {
    font-size: 1rem;
  }
  .container__total {
    font-size: 1.5rem;
  }
  #total-amount {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  th.product-img {
    width: 60%;
  }
  .productsCart-title, th {
    font-size: 1.5rem;
  }
  .nameCart {
    font-size: 1.5rem;
  }
  .priceCart {
    font-size: 1.5rem;
  }
  .optionCart {
    font-size: 1.5rem;
  }
  .qty-group {
    font-size: 1.5rem;
  }
  .amountCart {
    font-size: 1.5rem;
  }
  .container__total {
    font-size: 2rem;
  }
  #total-amount {
    font-size: 2rem;
  }
  #orderFormValidity {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .firstName {
    width: 45%;
  }
  .lastName {
    width: 45%;
  }
  .email {
    width: 60%;
  }
  .address {
    width: 45%;
  }
  .city {
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  .section__cart {
    padding: 4rem;
  }
  th.product-img {
    width: 75%;
  }
}

.contact {
  border-width: .7rem;
  border-style: ridge;
  width: 95%;
  background-color: #f3e9f1;
  margin: .6rem;
  padding: 2rem;
  font-weight: bold;
  color: #8f5bfe;
}

.contact p.thank {
  color: #468820;
  font-size: 1.3rem;
}

.contact p.orderId {
  color: #999;
}

.contact__text {
  color: #0065fc;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.contact span {
  color: #f3880d;
}

.recapitulatif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0065fc;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.table__product {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.table__product-list {
  width: 100%;
}

#container__total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

#container__total-cart {
  width: 30%;
}

.expedition__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-style: groove;
  border-width: 0.2rem;
  border-color: #d4af37;
  border-radius: 1.2rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
  padding: .5rem 2rem;
  color: #f3880d;
}

.expedition__contact p.expedition {
  color: #8f5bfe;
}

.print {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 2rem;
  padding: 1rem;
}

.print__Btn {
  padding: 1rem;
  border-radius: .8rem;
  font-weight: bold;
  border-style: groove;
  border-width: 0.4rem;
  border-color: #d4af37;
  border-radius: 1.2rem;
  -webkit-box-shadow: .3rem .3rem .6rem #999;
          box-shadow: .3rem .3rem .6rem #999;
  background-color: #f3e9f1;
  color: #468820;
}

.print__Btn:hover {
  background-color: #468820;
  color: #fff;
}

@media screen and (min-width: 768px) {
  main {
    padding: 1.5rem;
  }
  .contact {
    font-size: 1.2rem;
  }
  .facturation {
    padding: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    padding: 2rem;
  }
  .contact {
    font-size: 1.5rem;
  }
  .facturation {
    padding: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */