$font-text: 'Roboto', sans-serif;
$color-primary: #f3e9f1;
$color-secondary: #f8cf67;
$color-tertiary: #8f5bfe;
$border-color: rgba(94, 226, 175, 1);
$color-button: #0065fc;
$color-gradient: linear-gradient(left top,rgba(208,127,70,1) 10%, rgba(179,111,152,1) 40%, rgba(143,91,254,1) 80%, rgba(143,91,254,1) 100%);