.container__home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem auto 0;
    padding-bottom: 6rem;
}
a {
    text-decoration: none;
}
.presentation {
    @include gradient-text;
    font-weight: bold;
    text-align: center;
    padding: .4rem;
    margin: .8rem;
    border-style: groove;
    border-width: .6rem;
    border-color: rgb(212,175,55);
    border-radius: 3rem;
    box-shadow: .3rem .3rem .6rem #999;
    background-color: $color-primary;
}
.card  { 
    width: 80vw;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(141, 135, 135);
    border-radius: 2rem  0 2rem 0 ;
    box-shadow: .3rem .3rem .6rem #999;
    &__img {
        width: 100%;
        border-radius: 1rem 0 0 0 ;
    }
    &__name {
        text-align: center;
        padding: 10px;
        color:  rgb(212,175,55);
        font-size: 2rem;
        text-shadow: 2px 2px 2px #666;
    }
    &__description {
        text-align: center;
        padding: 10px;
        color: #000;
    }
    &__price {
        text-align: right;
        padding: 10px;
        color: rgb(104, 103, 103);
        font-weight: bold;
        font-size: 1.5rem;
        text-shadow: 5px 5px 10px rgb(202,202,202);
    }
}
.cardlink {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(141, 135, 135);
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #999;
    font-size: 2rem;
    font-weight: bold;
    &:hover {
        background-color: rgb(40, 144, 58);
        color: #fff;
        border-color: rgb(245, 49, 49);
    }
}
.showArticle { 
    bottom: 5.7rem;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/*   -----------------------------MEDIA QUERIES---------------------------  */
  @media screen and (min-width: 768px) {   
    .container__home{
        flex-flow: row wrap;
    }
    .card {
        width: 40vw;
        margin: 20px;
        position: relative;
        overflow: hidden;
        border-style: ridge;
        border-width: 1rem;
        border-color: rgb(141, 135, 135);
        border-radius: 2rem 0 2rem 0;
        box-shadow: 5px 5px 10px #999;
        &__img {
            width: 100%;   
            border-radius: 1rem 0 0 0;
        }
        &__name {
            text-align: center;
            padding: 1.2rem;
            font-size: 2rem;
        }
        &__description {
            text-align: center;
            padding: 1.2rem;
            color: #000;
            font-size: 1rem;
        }
        &__price {
            text-align: right;
            padding: 1.2rem;
            font-size: 1.5rem;
            font-weight: bold;   
        }
      }
    .showArticle { 
    bottom: 8.3rem;
    }
  }