.section__cart { 
    margin: 0 0 3rem 0;
    &-title {
        display: flex;
        justify-content: center;
    }  
}

.cart__container {  
    margin: 0.2rem;
    color: #000;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;   
    padding: .3rem;
    margin: 0; 
}
.productList {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border : 1px solid #f2f2f2;
    margin : .2rem 0;
    padding:  .2rem .2rem;
    font-weight: bold;
}
td {
    
    display: flex;
    justify-content: flex-start; 
}
.emptyCart {
    padding: 1rem;
    height: 8.5rem;
}
#container__empty {
    width: 80%;
    height: 100%;   
}
.container__empty-text {
    font-size: 1.5rem;
}
.cart-empty {
    background-color: $color-primary;
    height: 100%;
    color: #ff0000;
    text-align: center;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(212,175,55);
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #999;
    font-weight: bold;
    &:hover {
        background-color: rgb(40, 144, 58);
        color: #fff;
        border-color: rgb(245, 49, 49);
    }
    
}
.btn__home {
        background-color: $color-secondary;
        border-style: ridge;
        border-width: 5px;
        border-color: rgb(212,175,55);
        border-radius: 1rem;
        box-shadow: 5px 5px 10px #999;
        font-weight: bold;
        font-size: 1.5rem;
        // margin: 2rem;
        padding: .2rem 1rem;
        color: $color-tertiary;
    }

.productsCart {
    width: 100%;
    display: flex;
    flex-flow: column wrap;   
    &__table {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;    
        }
    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
	    border-bottom: 1px solid lightgrey;
    }
    & tr {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.productCart {	
	display: flex;
	align-items:flex-end;
    color: #000;
	padding: .6rem .3rem;
	border-bottom: 1px solid lightgrey;
}

.productCart i {
    color:#0065fc;
    cursor: pointer;
}
.product-img {
    width: 45%; 
    padding: 0 .6rem ;
    text-align: center;
}
.imgCart {
    width: 15%;
    & td {
        height: 100%;
    }
    
    & img {
        width: 100%;  
        height: 100%;     
        object-fit: cover;
        cursor: pointer;
        &:hover {
            transform: scale(2);
            transform-origin: left;
        }
    }    
}
.trash {
    color: #0065fc;
}
.nameCart {
    width: 15%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    color:  rgb(212,175,55);
}
.product-price {
	width: 10%;
    color: #000;
    display: flex;
    justify-content: center;
	margin-left: .2rem;
}
.priceCart {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    color: rgb(104, 103, 103);
}
.qty-group {
    display: flex;
    color: rgb(81, 204, 235);
}
.minus {
    margin-right:.2rem;
    margin-left: .2rem;
}
.plus {
    margin-right:.2rem;
    margin-left: .2rem;
}
.product-qty {
	width: 20%;
	text-align: center;
   
}
.product-option {
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 .5rem 0 0 ;
    margin: 0 0 0 .5rem;
}
.optionCart {
    font-size: 0.7rem;
    color: rgb(40, 144, 58);
}
.product-amount {
	width: 15%;
	display: flex;
    justify-content: center;
}
.amountCart {
    font-size: 0.7rem;
}
.container__total {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    & p {
        font-weight: bold;
        color: #0065fc;
        padding: 0;
        margin: 0;
    } 
}
#total-amount{
    background-color: #fff;
    // width: 10%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:#000;
    margin: 0 10px;
}
.container__delete-cart {
    display: flex;
    justify-content: flex-end;   
}
.delete-cart {  
    width: 50%;
        color: $color-tertiary;
        font-size: 1.2rem;
        font-weight: bold;
        border-style: ridge;
        border-width: 0.4rem;
        border-color: rgb(212,175,55);
        border-radius: 1.5rem;
        box-shadow: .3rem .3rem .6rem #999;
        padding: .5rem 0 .5rem 0;
        margin: 1rem;
        &:hover {
            background-color: #ff000d;
            color: #fff;
        }
}
.validate {
    display: flex;
    justify-content: flex-end;   
    &-cart {
        width: 50%;
        color: $color-tertiary;
        font-size: 1.2rem;
        font-weight: bold;
        border-style: ridge;
        border-width: 0.4rem;
        border-color: rgb(212,175,55);
        border-radius: 1.5rem;
        box-shadow: .3rem .3rem .6rem #999;
        padding: .5rem 0 .5rem 0;
        margin: 1rem;
        &:hover {
            background-color: #468820;
            color: #fff;
        }
    }
}
.tohide {
    display: none;  
}
.orderForm {
    width: 100%;
    margin-top: 20px;
    padding: 20px;   
}
.information {
    text-align: center;
    font-size : 1.2rem;
    font-weight: bold;
}
#orderFormValidity {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.firstName {
    width: 80%;
    margin-top: 2rem;
    
    &__form {
        width: 100%;
        font-size: 1rem;
        margin-top: .1rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-style: ridge;
        border-width: .2rem;
        border-color: rgb(212,175,55);
        border-radius: .3rem;
        box-shadow: .3rem .3rem .6rem #999;      
        &-input {
            width: 100%;
            font-size: 1rem;
            padding: .3rem;
            border: none;
            margin-top: .1rem;
        }
        &-i {
            padding: 0.4rem;
            color: #0065fc;
            font-weight: bold;
            border: none;
            background-color: #e9ecef;
        }
    }
}
.lastName {
    width: 80%;
    margin-top: 2rem;
    &__form {
        width: 100%;
        font-size: 1rem;
        margin-top: .1rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-style: ridge;
        border-width: .2rem;
        border-color: rgb(212,175,55);
        border-radius: .3rem;
        box-shadow: .3rem .3rem .6rem #999;      
        &-input {
            width: 100%;
            font-size: 1rem;
            padding: .3rem;
            border: none;
            margin-top: .1rem;
        }
        &-i {
            padding: 0.4rem;
            color: $color-tertiary;
            font-weight: bold;
            border: none;
            background-color: #e9ecef;
        }
    }
}
.email {
    width: 80%;
    margin-top: 2rem;   
    &__form {       
        width: 100%;
        font-size: 1rem;
        margin-top: .1rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-style: ridge;
        border-width: .2rem;
        border-color: rgb(212,175,55);
        border-radius: .3rem;
        box-shadow: .3rem .3rem .6rem #999;      
        &-input {
            width: 100%;
            font-size: 1rem;
            padding: .3rem;
            border: none;
            margin-top: .1rem;
        }
        &-i {
            padding: 0.4rem;
            color: #0065fc;
            font-weight: bold;
            border: none;
            background-color: #e9ecef;
        }
    }
}
.address {
    width: 80%;
    margin-top: 2rem;
    &__form {
        width: 100%;
        font-size: 1rem;
        margin-top: .1rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-style: ridge;
        border-width: .2rem;
        border-color: rgb(212,175,55);
        border-radius: .3rem;
        box-shadow: .3rem .3rem .6rem #999;      
        &-input {
            width: 100%;
            font-size: 1rem;
            padding: .3rem;
            border: none;
            margin-top: .1rem;
        }
        &-i {
            padding: 0.4rem;
            color: $color-tertiary;
            font-weight: bold;
            border: none;
            background-color: #e9ecef;
        }
    }
}
.city {
    width: 80%;
    margin-top: 2rem;
    &__form {
        width: 100%;
        font-size: 1rem;
        margin-top: .1rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-style: ridge;
        border-width: .2rem;
        border-color: rgb(212,175,55);
        border-radius: .3rem;
        box-shadow: .3rem .3rem .6rem #999;      
        &-input {
            width: 100%;
            font-size: 1rem;
            padding: .3rem;
            border: none;
            margin-top: .1rem;
        }
        &-i {
            padding: 0.4rem;
            color: #0065fc;
            font-weight: bold;
            border: none;
            background-color: #e9ecef;
        }
    }
}
label {
    font-weight: bold;
}
.order__btn {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end; 
    
    &-submit {
        width: 60%;
        color: #0065fc;
        font-size: 1.2rem;
        font-weight: bold;
        border-style: ridge;
        border-width: 0.4rem;
        border-color: rgb(212,175,55);
        border-radius: 1.5rem;
        box-shadow: .3rem .3rem .6rem #999;
        padding: .5rem 0 .5rem 0;
        margin: 1rem;
        &:hover {
            background-color: #468820;
            color: #fff;
        }
    }
}

//   -----------------------------MEDIA QUERIES---------------------------

@media screen and (min-width: 768px) {

    .imgCart {
        width: 30%;
    }
    th.product-img {
        width: 70%;
    }
    .trash {
        color: #0065fc;
        width: 3%;
        font-size: 1rem;
       display: flex;
       justify-content: center;
       align-items: flex-start;
    }
    .nameCart {
        font-size: 1rem;
    }
    .priceCart {
        font-size: 1rem;
    }
    .optionCart {
        font-size: 1rem;
    }
    .qty-group {
        font-size: 1rem;
    }
    .amountCart {
        font-size: 1rem;
    }
    .container__total {
        font-size: 1.5rem;
    }
    #total-amount {
        font-size: 1.5rem;
    }
}


// ----------- Media Queries 1024px---------
@media screen and (min-width: 1024px) {

    th.product-img {
        width: 60%;
    }
    .productsCart-title, th{
        font-size: 1.5rem;
    }
    .nameCart {
        font-size: 1.5rem;
    }
    .priceCart {
        font-size: 1.5rem;
    }
    .optionCart {
        font-size: 1.5rem;
    }
    .qty-group {
        font-size: 1.5rem;
    }
    .amountCart {
        font-size: 1.5rem;
    }
    .container__total {
        font-size: 2rem;
    }
    #total-amount {
        font-size: 2rem;
    }
    #orderFormValidity {
       flex-flow: row wrap;
       
    }
    .firstName {
        width:45%;
    }
    .lastName {
        width: 45%;
    }
    .email{
        width: 60%;
    }
    .address {
        width: 45%;
    }
    .city {
        width: 45%;
    }
}

@media screen and (min-width: 1440px) {
    .section__cart{
        padding: 4rem;
    }
    th.product-img {
        width: 75%;
    }
}