.section__cart-title {
   
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
   
}

.cart__container {  
    margin: 0.2rem;
    color: #000;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    margin: 0;
    &-title {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 4px solid lightgrey;
	    margin: 0 auto;
    }
}

#container-empty {
    width: 95%;
    height: 50px;
}
#cart-empty {
    
    text-align: center;
    font-size: 2rem;
}


#cart-empty {
    color: #ff0000;
}

.productCart {
	
	display: flex;
	justify-content: space-around;
	align-items:flex-end;
	padding: 10px 5px;
	border-bottom: 1px solid lightgrey;
}

.productCart i {
    color:#0065fc;
}
.product-img {
    width: 40%; 
    padding-left: 20px ;
}
#imgCart {
    width: 15%;
    
}
//  .product-name {
//     width: 10%;
//     text-align: center;
//     padding: 0 10px;
//     margin: 10px 0;
//  }
#nameCart {
    width: 10%;
    font-size: 0.7rem;
}

.product-price {
	width: 10%;
    color: #000;
    display: flex;
    justify-content: center;
	
}
#priceCart {
    font-size: 0.7rem;
}

#qty-group {
    display: flex;
    & i{
        margin-right:5px;
        margin-left: 5px;
        color: #0065fc;
    }
}
.product-qty {
	width: 20%;
	text-align: center;
    display: flex;
    justify-content: center;
}
.product-option {
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
}
#optionCart {
    font-size: 0.7rem;
}
.product-amount {
	width: 15%;
	display: flex;
    justify-content: center;
}
#amountCart {
    font-size: 0.7rem;
}

.container__total {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    & p {
        font-weight: bold;
        color: #0065fc;
    }
   
}
#total-amount{
    background-color: #fff;
    width: 30%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color:#000;
    margin: 0 10px;
}

.container__delete-cart {
    display: flex;
    justify-content: flex-end;
}
.delete-cart {
   
    width: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
}




