.cart__container {
    background-color: #f2f2f2;
    border: 2px solid #0065fc;
    margin: 2rem;
    font-size: 1rem;
    color: #000;
}

#cart-empty {
    background-color: $border-color;
    text-align: center;
    font-size: 2rem;
}


#cart-empty {
    color: #ff0000;
}

.camera__link-cart {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    height: 3rem;
}

.total-amount {
    background-color: $border-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 1.5rem;
   
}
.delete-cart {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 1.5rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}
.delete-cart-text {
    background-color: $color-tertiary;
    padding: 0.5rem;
    margin: 0.5rem;
}

.productCart {
    margin: 0.5rem;
  background: $border-color;
  color: #000;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.cart__container-title {
    margin: 0.5rem;
  background: $color-secondary;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
    text-align: left;
    color: #000;
    margin-right: 0;
    
}
#option {
    width: 10rem;
}
#price {
    color: #000;
}

#amount {
    color: #000;
    width: 5rem;
    height: 1rem;
}

#qty {
    width: 3rem;
    color: #000;
}