.produit__container {
    display: flex;
    justify-content: center;
}

.personnalisation {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.5rem 0;
    background-color: rgb(94, 226, 175);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: 3px solid #fff;
}

.lenses {
    color: #fff;
    padding: 0.5rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
label {
    @include gradient-text;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    
}
select {
    font-size: 1rem;
    text-align: center;
    box-sizing: 100%;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.options__lenses {
    color: #000;
}

.ajout__panier {
    @include button;
    font-size: 1.2rem;
    
    &:hover {
    @include button-hover;
    }
}

.product-quantity {
    
    width: 100%;
    
}
.quantite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 2.5rem;
    background-color: #fff;
    text-align: center;
    margin: 0 1rem;
    &-number {
        width: 20%;
        color: #000;
    }
}
.btn-up, .btn-down {
   background-color: #fff;
   border: 1px solid #f2f2f2;
    
}
.add {
    margin-right: 0.5rem;
    width: 70%;
}
.add-to-cart {
    
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 1rem;
    
}