.produit__container {
    display: flex;
    justify-content: center;
}

.personnalisation {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.5rem 0;
    background-color: rgb(94, 226, 175);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: 3px solid #fff;
}

.lenses {
    color: #fff;
    padding: 0.5rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
label {
    @include gradient-text;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    
}
select {
    font-size: 1rem;
    text-align: center;
    box-sizing: 100%;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.options__lenses {
    color: #000;
}
/*
.ajout__panier {
    @include button;
    font-size: 1.2rem;
    
    &:hover {
    @include button-hover;
    }
}

.product-quantity {
    
    width: 100%;
    
}
.quantite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
}

.qtyrow {
    width: 30%;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0 0 0 1rem;
    color: #000;
    border: 1px solid #2a6bf7;
    }

#labelQty {
    color: #000;
}
.add {
    margin-right: 0.5rem;
   
}
*/
.add-to-cart {

    @include button;
    font-size: 1.2rem;
    
    &:hover {
    @include button-hover;
    }
    /*position: absolute;
    width: 100%;
    background-color: darkgrey;
   /* transition: all 0.3s ease-in-out;
    opacity: 1;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px; */
}
/*
.article__card-info:hover .card {
    bottom: 50px;
	opacity: 1;
	padding: 10px;
	text-decoration: none;
} */