* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
.img_logo {
    width: 25%;
    position: absolute;
    top: 42px;
    left: 10px;
} */
header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18rem;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.3);
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.title {
    @include gradient-text;
    width: 90%;
    padding: .2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

nav ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
nav li {
    list-style: none;
    display: flex;
    // padding-right: .5rem;
    // padding-left: .5rem;
    margin-top: .2rem;
    border-style: ridge;
    border-width: 0.2rem;
    border-color: rgb(212,175,55);
    border-radius: 1.2rem;
    box-shadow: .3rem .3rem .6rem #999;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: .5rem;
    background-color: #fff;
    text-decoration: none;;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.cart i {
    
    font-size: 1.2rem;
    padding-right: 5px;
 }
 
.cart a {
    background-color: royalblue;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    // padding: .5rem;
    // border-radius: 1rem;
}
.spanCart {
    width: 33%;
    background-color: #f2f2f2;
    padding: .2rem 0.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    color: rgb(253, 2, 2);
    border-radius: 1rem;
}

// -----------------MEDIA QUERIES-------------

@media screen and (min-width: 768px) {

    
     nav ul {
         
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        margin-left: 1rem;
    }
    .title {
        display: flex;
        flex-flow : row nowrap;
        justify-content: center;
        align-items: center;
        & h1 {
            margin-right: 2rem;
        }
    }
}