* {
    font-family: "Roboto";
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.img-header {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    position: relative;
}
.img_logo {
    width: 25%;
    position: absolute;
    top: 42px;
    left: 10px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.nav__container {      
        display: flex;
        flex-flow: column wrap;     
        align-items: center;
        font-size: 1.2rem;
        padding: 0.2rem;
         
}

.link {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-between;
    &__list {
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: 20px 0 0 0;
        & a {
        color: $color-tertiary;
        font-weight: bold;
        
        }
    }
}

.actions {
    padding: 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    margin:0 0 20px 0;
    &__cart a{
        background-color: #0065fc;
        color: #fff;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 10px;
        width: 100px;
        border-radius: 20px;
        &-icon {
            @include gradient-text;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            padding: 0 10px;
        }
        &-icon span {
            color: rgb(54, 0, 248);
            vertical-align: text-top;
            padding: 0 10px;
        }
    }
}

.button {
    @include button;
    font-size: 1rem;
    margin-left: 0.5rem;
    &:hover {
        @include button-hover;
    }
}

input {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #fff;
}

.presentation {
    background-color: $color-primary;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding: 1rem;
    text-align: center;
    & h1 {
        margin: 0;
        color: $color-tertiary;
        font-size: 1.2rem;
    }
}